<!-- <header class="container-fluid">
 <div class="my-10 align-items-center">
  <img src="/assets/background/ecommerce-selling.jpg" class="img-fluid background-image mx-auto d-block" alt="...">
 </div>
</header> -->

<!-- <carousel [isAnimated]="true">
 <slide>
  <img src="/assets/background/cart-laptop.jpg" class="img-fluid background-image mx-auto d-block" alt="...">
  <div class="carousel-caption d-none d-md-block">
   <h5>First slide label</h5>
   <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
  </div>
 </slide>
 <slide>
  <img src="/assets/background/delivery-packages.jpg" class="img-fluid background-image mx-auto d-block" alt="...">
  <div class="carousel-caption d-none d-md-block">
   <h5>Second slide label</h5>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
 </slide>
 <slide>
  <img src="/assets/background/online-payments.jpg" class="img-fluid background-image mx-auto d-block" alt="...">
  <div class="carousel-caption d-none d-md-block">
   <h5>Third slide label</h5>
   <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
  </div>
 </slide>
</carousel> -->
<div class="carousel-margin">
 <carousel [isAnimated]="true">
  <slide>
   <img src="/assets/background/cart-laptop.jpg" style="width:100%; display: block;">
  </slide>
  <slide>
   <img src="/assets/background/delivery-packages.jpg" style="width:100%; display: block;">
  </slide>
  <slide>
   <img src="/assets/background/online-payments.jpg" style="width:100%; display: block;">
  </slide>
 </carousel>
</div>

<section class="featured">
 <div class="d-flex justify-content-center pt-4">
  <h1 class="uppercase">Welcome to the Shop</h1>
 </div>

</section>