.container {
 margin-top: 5rem;
 display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
}

.inline-div {
 margin: 10px;
}

.viewbtn {
 text-align: center;
 justify-content: center;
 align-items: center;
}

.btn {
 font-size: 20px;
 padding-left: 15px;
 padding-right: 15px;
}