<div class="container" *ngIf="product">
  <div class="row">
    <div class="col-6">
      <div class="images">
        <img
          src="{{product.photoUrl}}" />
      </div>
      <div class="product">
        <p>{{product.name}}</p>
        <h2>{{product.price}}</h2>
        <p class="desc">
          {{product.specification}}
        </p>
        <div class="buttons">
          <button class="add" type="button"
            routerLink="/shop/{{product.id}}">View</button>
          <button class="add" type="button"
            routerLink="/shop/edit/{{product.id}}">
            <i class="fa-light fa-pen-to-square"></i>
          </button>
          <button class="add" type="button">
            <i class="fa-solid fa-cart-circle-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row col-6">
    <div class="images">
      <img
        src="/assets/products/ASUS Zenbook Pro 14 1.jpg" />
    </div>
    <div class="product">
      <p>Women's Running Shoe</p>
      <h1>Nike Epic React Flyknit</h1>
      <h2>$150</h2>
      <p class="desc">The Nike Epic React Flyknit foam cushioning is responsive yet light-weight, durable yet soft. This
      </p>
      <div class="buttons">
        <button class="add">Add to Cart</button>
      </div>
    </div>
  </div>
</div> -->




<!-- <div class="container py-5" *ngIf="product">
  <div class="row justify-content-center mb-3">
    <div class="col-md-12 col-xl-10">
      <div class="card d-flex shadow-0 border rounded-3 px-4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
              <div class="bg-image hover-zoom ripple rounded ripple-surface">
                <img src="{{product.photoUrl}}" alt="{{product.name}}" class="w-100" />
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
              <h5 class="text-uppercase">
                {{product.name}}
              </h5>
            </div>
            <div class="mt-1 mb-0 text-muted small">
              <span>{{product.generation}}</span>
            </div>
            <span class="text-primary"> • Quantity </span>
            <span>{{product.quantity}}</span>
            <p class="text-truncate mb-4 mb-md-0">
              {{product.specification}}
            </p>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
            <div class="d-flex flex-row align-items-center mb-1">
              <h4 class="mb-1 me-1">{{product.price | currency}}</h4>
              <span class="text-danger"><s>$820.99</s></span>
            </div>
            <h6 class="text-success">{{product.condition}}</h6>
            <div class="d-flex flex-column mt-4">
              <button class="btn btn-outline-primary btn-sm" type="button"
                routerLink="/shop/{{product.id}}">View</button>
              <button class="btn btn-outline-primary btn-sm" type="button"
                routerLink="/shop/edit/{{product.id}}"><i class="fa-light fa-pen-to-square"></i>
              </button>
              <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                <i class="fa-solid fa-cart-circle-plus"></i>
                <fa-icon [icon]="addProductCart"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->