.mytext{
  position:absolute;
  padding-left: 5px;
  padding-top: 30px;
  text-decoration: dotted;
  white-space: 5px;
  font-weight: bold;
 }

 .mybutton{

  margin: 50px 10px 0px 10px;
  
  
  text-align: center;
 
 }