.slider-box {
 max-width: 500px;
 max-height: 1000px;
 margin-left: 2rem;
 margin-top: 4rem;
}

.img {
 object-fit: cover;
 padding: 1rem;
 max-height: fit-content;
 background-clip: padding-box;
 background-attachment: fixed;
 background-size: 70%;
 image-rendering: 400px;
 border-image-outset: 0;
 height: 400px;
 width: 500px;

}