<footer class="footer-distributed" style="background-color: hwb(197 10% 55% / 0.582);">

  <div class="footer-left">

    <h3>Company<span>logo</span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>

      <a href="#">Blog</a>

      <a href="#">Pricing</a>

      <a href="#">About</a>

      <a href="#">Faq</a>

      <a href="#">Cotact</a>
    </p>

    <p class="footer-company-name">Eletronic X Store © 2023</p>
  </div>

  <div class="footer-center">
    <dl>
      <dt><fa-icon [icon]="location" class="icon"></fa-icon></dt>
      <dd>AMMAN JORDAN</dd>
      <dt><fa-icon [icon]="phone" class="icon"></fa-icon></dt>
      <dd>+1.555.555.5555</dd>
      <dt><fa-icon [icon]="email" class="icon"></fa-icon></dt>
      <dd><a href="mailto:support@company.com" style="text-decoration: none;color: black;">EletronicX@company.com</a>
      </dd>
    </dl>
  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Eletronic X Store</span>
      best store in jordan , delivering to all citys with no cost, best discount and price.
    </p>

    <div class="footer-icons">

      <a href="#"><fa-icon [icon]="facebook"></fa-icon></a>
      <a href="#"><fa-icon [icon]="twitter"></fa-icon></a>
      <a href="#"><fa-icon [icon]="linkedIn"></fa-icon></a>
      <a href="#"><fa-icon [icon]="whatsApp"></fa-icon></a>

    </div>

  </div>

</footer>