label {
 margin-bottom: 4px;
 margin-top: 8px;
 // text-align: justify;
 padding: 4px;
 font-size: 15px;
 font-weight: bold;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}