html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

th {
  text-align: left;
}

// tr:nth-child(even) {
//   background-color: #D6EEEE;
// }

tr {
  border-bottom: 5px solid #D6EEEE;
}

tr:hover {
  background-color: #D6EEEE;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  width: 30%;
  height: 40px;
}