<div class="container">
   <div class="row">
      <div class="col-6 my-4">
         <img src="{{product.photoUrl}}" alt="{{product.name}}" class="w-100"
            style="max-width:80%;margin-left:25px;margin-top:70px">
      </div>
      <div class="col-6 mt-5">
         <h3>{{product.specification}}</h3>
         <p class="my-3" style="font-size:2em">{{product.price | currency}}</p>
         <h5 class="text-primary mb-3" *ngIf="quantityInBasket > 0">
            You have {{quantityInBasket}} in your basket
         </h5>
         <div class="d-flex justify-content-start align-items-center">
            <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning me-2"
               style="cursor: pointer; font-size: 2em;">
            </i>
            <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
            <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning ms-2"
               style="cursor: pointer; font-size: 2em;">
            </i>
            <button (click)="updateBasket()" [disabled]="quantity === quantityInBasket" class="btn btn-outline ms-4">
               <i class="fa fa-cart-plus me-2">
               </i>
               <span class="button-text">{{buttonText}}</span>
            </button>
            <!-- <button class="btn btn-outline ms-4"><i class="fa fa-heart me-2"></i><span class="button-text">Add
                  favourite</span></button> -->
         </div>
         <div class="row mt-4 info">
            <table class="table" style="width:70%" *ngIf="product">
               <thead>
                  <tr>
                     <th>
                        Product
                     </th>
                     <th>
                        Specification
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        Name
                     </td>
                     <td>
                        {{product.name}}
                     </td>
                  <tr>
                     <td>
                        Specification
                     </td>
                     <td>
                        {{product.specification}}
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Generation
                     </td>
                     <td>
                        {{product.generation}}
                     </td>
                  <tr>
                     <td>
                        Condition
                     </td>
                     <td>
                        {{product.condition}}
                     </td>
                  <tr>
                     <td>
                        Ram Size
                     </td>
                     <td>
                        {{product.ramSize}}
                     </td>
                  <tr>
                     <td>
                        Storage Size
                     </td>
                     <td>
                        {{product.storageSize}}
                     </td>
                  <tr>
                     <td>
                        Touch Screen
                     </td>
                     <td>
                        {{product.touchScreen}}
                     </td>
                  <tr>
                     <td>
                        Quantity
                     </td>
                     <td>
                        {{product.quantity}}
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>