th {
  text-align: left;
}

// tr:nth-child(even) {
//   background-color: #D6EEEE;
// }

tr {
  border-bottom: 5px solid #D6EEEE;
}

tr:hover {
  background-color: #D6EEEE;
}

.btn:hover {
  background-color: #D6EEEE;
}


@media screen and (max-width: 300px) {
  .button-text {
    display: none;
  }
}


.info {
  margin-bottom: 2rem;
}