<!-- <div class="flex-wrapper">
  <div class="container"> -->
<footer class="fixed-bottom">
  <div class="footer-content">
    <h3>AC Electronic Store</h3>
    <p>Online Store - The Best in Jordan</p>
    <p>Free Delivering Discount All The Time</p>

    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
    </ul>
    <div class="footer-bottom">
      <img src="assets/logo/logostore.png" alt="logoStore" class="logo">
    </div>
    <p>copyright &copy;2023 <a href="#">AC Electronic Store @ 2023</a> </p>

    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="">Home</a>
        </li>
        <li><a href="">About</a>
        </li>
        <li><a href="">Contact</a>
        </li>
        <li><a href="">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</footer>