<nav class="navbar navbar-expand-lg fixed-top" style="background-color: hwb(197 10% 55% / 0.582);">
   <div class="container">
      <a class="navbar-brand d-inline-flex" href="#">
         <img class="d-inline-block" src="assets/img/logo.png" alt="logo" />
         <span class="text-1000 fs-0 fw-bold ms-2">Majestic</span>
      </a>
      <form class="d-flex"><a class="text-1000" href="#!"> <svg class="feather feather-user me-3"
               xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
               <circle cx="12" cy="7" r="4"></circle>
            </svg></a><a class="text-1000" href="#!"> <svg class="feather feather-heart me-3"
               xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
               </path>
            </svg></a></form>
   </div>
</nav>
<section class="py-11 bg-light-gradient border-bottom border-white border-5">
   <div class="bg-holder overlay overlay-light"
      style="background-image:url(assets/img/Background.png);background-size:cover;background-color: aquamarine;">
   </div>
   <!--/.bg-holder-->
   <div class="container">
      <div class="row flex-center">
         <div class="col-12 mb-10">
            <div class="d-flex align-items-center flex-column">
               <h1 class="fw-normal"> With an outstanding style, only for you</h1>
               <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold">Exclusively designed for you</h1>
            </div>
         </div>
      </div>
   </div>
</section>